*{
    box-sizing: border-box;
    margin: 0 ; 
    padding: 0; 
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #FDDE7E;
    width: 1280px;
    height: 691px;
    margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-align: center;
    padding: 50px;
    
    
}
.card span{
    font-family:"Dosis",sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 88px;
    color: #02995B;
    padding-bottom: 15px;
}
.card h2{
    font-family: "Dosis",sans-serif;
    color: #333333;
    font-weight: 600;
    font-size: 51px;
    line-height: 64px;
    padding-top:15px ;
}
.card p{
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color:  #333333;
}
.gold{
    margin: 0 30px;
    padding: 70px 0;
}
